boto3==1.28.38
Brotli==1.0.9
ConfigParser==6.0.0
cryptography==2.9.2
Cython==3.0.2
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==4.8.2
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
matplotlib==3.5.1
numpy==1.21.4
ordereddict==1.1
pandas==2.0.3
protobuf==4.24.2
pyOpenSSL==23.2.0
seaborn==0.11.2
streamlit==1.26.0
toml==0.10.2
tornado==6.3.2
xmlrpclib
zipp==3.6.0
git+https://github.com/streamlit/files-connection
pip==23.2.1