facebook_business
seaborn
lifetimes
squarify
scipy
easy_exchange_rates
openpyxl
google
cryptography==41.0.1
google-api-python-client==2.87.0
google-auth-httplib2==0.1.0
google-auth==2.19.1
google-cloud-pubsub==2.17.0
google-cloud-iot==2.5.1
grpc-google-iam-v1==0.12.6
pyjwt==2.7.0
paho-mqtt==1.5.1
stripe==2.12.0
gspread>=5.0.0
gspread-dataframe<=2.1.1
lxml==4.6.3
pandas==2.0.3
html5lib
googlemaps
matplotlib
streamlit
s3fs==2023.6.0
st_files_connection
d